<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body class="body-detail">
    <%- include("../partials/header.ejs") %>
    <main class="main-container-detail">
        <section class="detail-box">
            <div class="img-paq">
                <img src="/img/rio-carnival-2023 copia.png" alt="paquete brasil">
            </div>
            <section class="paquete">
                <div class="incluye">
                    <h3>Incluye</h3>
                </div>
                <div class="main-h3">
                    <p>
                        Traslados Aeropuerto <br>
                        Seguro al viajero <br>
                        4 Noches de hotel 4 estrellas <br>
                        Desayuno <br>
                        3 Noches de Carnavales <br>
                    </p>
                </div>
                <div class="precio">
                    <h3 class="h3-detail">Precio Total US$ 900</h3>
                </div>
            </section>
            <section class="comprar">
                <div class="main-h4">
                    <p>
                        <button class="boton"><a href="/carrito">
                            <h4>Comprar paquete</h4>
                        </a></button>
                    </p>
                </div>
            </section>

        </section>
    </main>
</body>
<%- include("../partials/footer.ejs") %>
    </div>
</footer>