<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <% for(let i=0; i< allProducts.length; i++) {%>
        <h4><%= allProducts[i].name %> <%= allProducts[i].date %></h4>
    <% } %>
</head>
<body>
    
</body>
</html>