<header >
    
    <div class="admin-header">
        <h1 class="admin-h1">DHTravel Admin Interface</h1>
        <a href="/"><img class="img-admin" src="/img/logo.png" alt=""></a>
    </div>
    
    <body>
        <% if (locals.userLogged) { %>
        <button class="burger" onclick="toggleMenu()"></button>
        
        <div class="menu">
            <nav>
                <div class="a1">
                    <h4 ><a href="/profile">Welcome back <%= locals.userLogged.firstName %>!</a></h4>
                </div>
                <div class="a1">
                    <a href="/profile">
                        <img  src="/img/users/<%= locals.userLogged.image %>" width="100" style="border-radius: 50%;"> 
                    </a>
                </div>
                <a href="/users/listall" style="animation-delay: 0.2s">Users</a>
                <a href="/products/listall" style="animation-delay: 0.3s">Products</a>
                <a href="/user/create" style="animation-delay: 0.4s">Create user</a>
                <a href="/product/create" style="animation-delay: 0.5s">Create product</a>
                <a href="/profile/logout" style="animation-delay: 0.5s">Logout<i class="fas fa-arrow-right-from-bracket"></i></a>
            </nav>
        </div>
        <% } %>
    </body>
    <script type="text/javascript">
        const toggleMenu = () => document.body.classList.toggle("open");
    </script>

</header>