<header>
    <section class="">
        <div class="">
            <ul>
                <li>
                    <a href="/users/listall">Users</a>
                </li>
                <li>
                    <a href="/products/listall">Products</a>
                </li>
                <li>
                    <a href="/user/create">Create user</a>
                </li>
                <li>
                    <a href="/product/create">Create product</a>
                </li>
            </ul>
        </div>
        <div class="">
            <input class="" type="text" placeholder="Buscar producto">
            <button class="">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="">
            <nav class="">
                <ul class="ul-li" type="none">
                    <% if (locals.userLogged) { %>
                    <div class="">
                        <li>
                            <a href="/profile">
                                <img src="/img/users/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;"> 
                            </a>
                        </li>
                    </div>
                    <div class="">
                        <h4><a href="/profile">Bienvenido Admin!</a></h4>
                    </div>
                    <div class="">
                        <li>
                            <a href="/profile/logout">Logout</a>
                        </li>
                    </div>
                    <% } %>
                </ul>
            </nav>
        </div>
    </section>
</header>