<footer>
    <div>
        <section class="info-li">
            <nav class="footer-nav">
                <ul class="footer-nav-li" type="none">
                    <li>
                        <a class="nav-li-item" href="#">Terminos y condiciones</a>
                    </li>
                    <li>
                        <a class="nav-li-item" href="#">Preguntas Frecuentes</a>
                    </li>
                    <li>
                        <a class="nav-li-item" href="#">Contacto</a>
                    </li>
                    <li>
                        <a class="nav-li-item" href="#">Conocenos</a>
                    </li>
                    <li>
                        <a class="nav-li-item" href="#">RRHH</a>
                    </li>
                    <li>
                        <a class="nav-li-item" href="#">Formas De Pago</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="social-media">
            <div>
                <a class="icon icon-facebook" href="#">
                    <i class="ri-facebook-line"></i>
                </a>
            </div>
            <div class="icons">
                <a class="icon icon-instagram" href="#">
                    <i class="ri-instagram-line"></i>
                </a>
            </div>
            <div>
                <a class="icon icon-telegram" href="#">
                    <i class="ri-telegram-line"></i>
                </a>
            </div>
            <div>
                <a class="icon icon-whatsapp" href="#">
                    <i class="ri-whatsapp-line"></i>
                </a>
            </div>
        </section>
        <section class="copyright-info">
            <div class="credit-card">
                <div>
                    <i class="fa-brands fa-cc-visa"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-mastercard"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-amex"></i>
                </div>
            </div>
            <div class="copy-p">
                <p>Copyright © 2021-2023 DHTravel S.A.</p>
                <p>Av. Cordoba 1986, Piso 2, CP 1244, Almagro, CABA</p>
            </div>
        </section>
    </div>
</footer>