<header>
    <section class="top-header">
        <div class="logo-container">
            <a href="/">
                <img class="header-logo" src="/img/logo.png" alt="DHTravel Logo">
            </a>
        </div>
        <div class="search-bar">
            <input class="input-searcher" type="text" placeholder="Encuentre su destino">
            <button class="icon-a">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="login-container">
            <nav class="login">
                <ul class="ul-li" type="none">
                    <div>
                        <li>
                            <a href="/login">Ingresa</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/register">Registrarte</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/carrito">
                                <i class="fa-solid fa-cart-flatbed"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </section>
</header>