<header>
    <section class="top-header">
        <div class="logo-container">
            <a href="/">
                <img class="header-logo" src="/img/logo.png" alt="DHTravel Logo">
            </a>
        </div>
        <div class="search-box">
            <input class="input-searcher" type="text" placeholder="Encuentre su destino">
            <button class="icon-a">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </section>
    <section class="login-section">
            <nav class="login">
                <ul class="ul-li" type="none">
                    <% if (locals.userLogged) { %>
                    <div class="li-item">
                        <li>
                            <a href="/profile">
                                <img src="/img/users/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;"> 
                            </a>
                        </li>
                    </div>
                    <div class="li-item">
                        Hola <%= locals.userLogged.firstName %>!
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/profile">Mi perfil</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/profile/logout">Logout</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/carrito">
                                <i class="fa-solid fa-cart-flatbed"></i>
                            </a>
                        </li>
                    </div>
                    <% } else { %>
                    <div class="li-item">
                        <li>
                            <a href="/login" class="btn-hover">Ingresa</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/register" class="btn-hover">Registrate</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/carrito" class="btn-hover">
                                <i class="fa-solid fa-cart-flatbed"></i>
                            </a>
                        </li>
                    </div>
                    <% } %>
                </ul>
            </nav>
    </section>
</header>