<header>
    <section class="top-header">
        <div class="logo-container">
            <a href="/">
                <img class="header-logo" src="/img/logo.png" alt="DHTravel Logo">
            </a>
        </div>
        <div class="search-box">
            <input class="input-searcher" type="text" placeholder="Encuentre su destino">
            <button class="icon-a">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <% if (locals.userLogged) { %>
            <div class="li-item logged art1">
                <h4>Hola <%= locals.userLogged.firstName %>!</h4>
            </div>
            <% } %>
    </section>
    <section class="login-section ls-logged">
            <nav class="login nav-logged">
                <ul class="ul-li ul-logged" type="none">
                    <% if (locals.userLogged) { %>
                    <div class="li-item">
                        <li>
                            <a href="/cart" class="btn-hover hover-log">
                                <i class="fa-solid fa-cart-flatbed"></i>
                            </a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/profile" class="btn-hover hover-log">Profile</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/profile/logout" class="btn-hover hover-log">Logout</a>
                        </li>
                    </div>
                    <% } else { %>
                    <div class="li-item">
                        <li>
                            <a href="/login" class="btn-hover">Ingresa</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/register" class="btn-hover">Registrate</a>
                        </li>
                    </div>
                    <div class="li-item">
                        <li>
                            <a href="/cart" class="btn-hover">
                                <i class="fa-solid fa-cart-flatbed"></i>
                            </a>
                        </li>
                    </div>
                    <% } %>
                </ul>
            </nav>
    </section>
</header>