<nav>
	<div>
		<a class="navbar-brand" href="#">DHTravel</a>
	
		<button>
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="mainNavbar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/">About</a></li>
				<li class="nav-item"><a class="nav-link" href="/">Products</a></li>
			</ul>
			<ul class="navbar-nav align-items-center">
				<% if (locals.userLogged) { %>
					<li>
						<a>
							<img src="/img/users/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;">
							Hi <%= locals.userLogged.firstName %> 
						</a>
						<ul>
							
							<li>
                                <a href="/profile">My profile</a>
                            </li>
							<a href="/logout">Logout</a>
						</ul>
					</li>
				<% } else { %>
					<li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>