<section class="wrapper-sec">
    <div class="wrapper">
        <img class="img-index" src="img/productImage/img21.jpg">
        <div class="overlay">
            <div class="content">
                <p class="parrafo-index-final">"Un lugar nunca es solo ese lugar: ese lugar también se parece un poco
                    a nosotros. De alguna manera, sin saberlo, lo llevamos adentro y un día, por
                    casualidad, llegamos allí."
                </p>
                <p class="linea-index-final">(Antonio Tabucchi).</p>

                <p class="linea-index-final">DH TRAVEL</p>

            </div>
        </div>
    </div>
</section>