<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="fn-body-aboutus">
        <%- include("../partials/header.ejs") %>
            <main class="fn-container">
                <section class="fn-info">
                    <h1 class="fn-h1">Sobre nosotros</h1>
                    <p class="fn-p fn-contact">

                        En DHTravel, nos apasiona brindar experiencias de viaje inolvidables y ayudar a nuestros
                        clientes a explorar el mundo de manera única y emocionante. Como agencia de viajes de renombre,
                        nos enorgullece ofrecer servicios de alta calidad y personalizados que se adaptan a las
                        necesidades y deseos de cada viajero. <br><br>

                        Nuestra misión es hacer realidad los sueños de viaje de las personas, brindándoles opciones y
                        soluciones completas para que puedan descubrir nuevos destinos, sumergirse en diferentes
                        culturas y crear recuerdos invaluables. Con una amplia gama de servicios, desde la organización
                        de vuelos y alojamiento hasta la planificación de itinerarios y actividades, nos encargamos de
                        cada detalle para que nuestros clientes puedan relajarse y disfrutar al máximo de su viaje. <br><br>

                        En DHTravel, valoramos la excelencia en el servicio al cliente. Nuestro equipo está formado por
                        profesionales dedicados y expertos en viajes, dispuestos a brindar asesoramiento experto,
                        recomendaciones personalizadas y atención personalizada en cada etapa del proceso de viaje. Nos
                        esforzamos por superar las expectativas de nuestros clientes y asegurarnos de que su experiencia
                        con nosotros sea excepcional en todos los sentidos. <br><br>

                        Nos enorgullece colaborar con una amplia red de proveedores de servicios de confianza, incluidas
                        aerolíneas, hoteles, compañías de transporte y operadores turísticos locales. Trabajamos en
                        estrecha colaboración con ellos para garantizar la calidad y la seguridad en todos los aspectos
                        de los viajes que organizamos. <br><br>

                        Además, en DHTravel valoramos la transparencia y la ética empresarial. Nos esforzamos por
                        mantener altos estándares de integridad y profesionalismo en todas nuestras operaciones. La
                        confianza de nuestros clientes es fundamental para nosotros, por lo que nos comprometemos a
                        tratar sus datos personales de manera segura y confidencial, cumpliendo con las leyes y
                        regulaciones aplicables en materia de privacidad. <br><br>

                        En resumen, en DHTravel, estamos dedicados a brindar servicios de viaje excepcionales,
                        cumpliendo con los deseos y expectativas de nuestros clientes. Con pasión por los viajes y un
                        enfoque centrado en el cliente, nos esforzamos por convertir cada viaje en una experiencia
                        inolvidable. <br><br>

                        ¡Bienvenido/a a DHTravel, tu compañero confiable en el mundo de los viajes! Estamos emocionados
                        de acompañarte en tus aventuras y hacer realidad tus sueños de viaje. <br><br>
                    </p>
                </section>
            </main>

            <%- include("../partials/footer.ejs") %>
    </body>

</html>