<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="fn-body-contact">
        <%- include("../partials/header.ejs") %>
        <main class="fn-container">
            <section class="fn-info">
                <h1 class="fn-h1">Contacto - DHTravel</h1>
                <p class="fn-p fn-contact">
                    ¡Gracias por tu interés en DHTravel! Si tienes alguna pregunta, consulta o necesitas asistencia,
                    estamos
                    aquí para ayudarte. Puedes ponerte en contacto con nosotros de las siguientes formas:
                </p>
                <p class="fn-p fn-contact">
                    Teléfono: +XX-XXXX-XXXXXX <br>
                    Nuestro equipo de atención al cliente está disponible para atenderte de lunes a viernes, de 9:00
                    a.m. a 6:00
                    p.m. Si necesitas ayuda fuera de este horario, déjanos un mensaje y nos pondremos en contacto
                    contigo lo
                    antes posible.
                </p>
                <p class="fn-p fn-contact">
                    Correo electrónico: info@dhtravel.com <br>
                    Puedes enviarnos un correo electrónico con tus preguntas o consultas, y nos aseguraremos de
                    responder a la
                    brevedad posible, generalmente dentro de las 24 horas.
                </p>
                <p class="fn-p fn-contact">
                    Nuestras oficinas: <br>
                    Dirección: Av. Cordoba 1986, Piso 2, CP 1244, Almagro, CABA  <br>
                    Si prefieres visitarnos en persona, te invitamos a hacerlo en nuestras oficinas. Nuestro amable
                    personal
                    estará encantado de atenderte y ayudarte a planificar tu próximo viaje.
                </p>
                <p class="fn-p fn-contact">
                    Redes sociales: <br>
                    Síguenos en nuestras redes sociales para obtener noticias, promociones y consejos de viaje: <br>
                    - <a href="https://www.facebook.com/DHTravelOnline">Facebook</a> <br>
                    - <a href="https://instagram.com/dhtravel_agency">Instagram</a> <br>
                    - <a href="#">Twitter</a>  <br>
                </p>
                <p class="fn-p fn-contact">
                    Sitio web: www.dhtravel.com <br>
                    En nuestro sitio web, encontrarás información adicional sobre nuestros servicios, destinos,
                    promociones y
                    más. También puedes utilizar el formulario de contacto en línea para enviarnos tus consultas
                    directamente.
                </p>
                <p class="fn-p fn-contact">
                    ¡Esperamos poder brindarte una experiencia de viaje extraordinaria! No dudes en comunicarte con
                    nosotros en
                    cualquier momento. ¡Estamos ansiosos por ayudarte a hacer realidad tus sueños de viaje con DHTravel! <br><br>
                </p>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>