<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

<body>
    <div class="wrapper2">
    <div class="landing-page lp-error">
        <div style="text-align:center;" class="icon__download">
            <img class="img-404" src="../img/plane-crash.png" alt="">
        </div>

        <h1 class="popup-h1 error-h1">404</h1>
        <p class="popup-p error-p">Ops! Something's wrong. </p>
        <button class="popup-button">
            <a href="/">RETURN</a>
        </button>
    </div>
</div>
</body>
</html>