<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body class="under-body">
    <%- include("../partials/header.ejs") %>
    
    <section class="under-construction">
        <div class="wrapper2">
            <div class="landing-page">
                <div style="text-align:center;" class="icon__download">
                    <img class="img-under" src="/img/cones.png" alt="">
                </div>
        
                <h1 class="popup-h1">PAGE UNDER MAINTENANCE</h1>
                <p class="popup-p">Please comeback later. </p>
                <button class="popup-button">
                    <a href="/">RETURN</a>
                </button>
            </div>
        </div>
    </section>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>