<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="fn-body-payment">
        <%- include("../partials/header.ejs") %>
            <main class="fn-container">
                <section class="fn-info">
                    <h1 class="fn-h1">Métodos de Pago - DHTravel</h1>
                    <p class="fn-p fn-contact">
                        En DHTravel, ofrecemos diferentes opciones de pago para mayor comodidad de nuestros clientes. A
                        continuación, se detallan los métodos de pago disponibles: <br>
                        1. Tarjeta de crédito/débito:
                        Aceptamos las principales tarjetas de crédito y débito, como Visa, Mastercard, American Express,
                        entre otras. Puedes proporcionar los detalles de tu tarjeta al realizar la reserva a través de
                        nuestro sitio web seguro o comunicarte con nuestro equipo de atención al cliente para realizar
                        el
                        pago por teléfono.
                    </p>

                    <p class="fn-p fn-contact">
                        2. Transferencia bancaria: <br>
                        También puedes realizar el pago a través de transferencia bancaria. Te proporcionaremos los
                        detalles
                        bancarios necesarios para completar la transferencia. Ten en cuenta que es posible que se
                        apliquen
                        cargos o comisiones bancarias adicionales, dependiendo de tu banco y país de origen.
                    </p>

                    <p class="fn-p fn-contact">
                        3. PayPal: <br>
                        DHTravel acepta pagos a través de PayPal, una plataforma de pagos en línea segura y ampliamente
                        utilizada. Puedes realizar el pago utilizando tu cuenta de PayPal o vinculando tu tarjeta de
                        crédito/débito a tu cuenta de PayPal.
                    </p>

                    <p class="fn-p fn-contact">
                        4. Pago en efectivo: <br>

                        Si prefieres realizar un pago en efectivo, puedes visitar nuestras oficinas y realizar el pago
                        personalmente. Nuestro equipo estará encantado de ayudarte y proporcionarte un recibo de pago.
                        <br><br>
                        Es importante tener en cuenta que los métodos de pago pueden variar según el país y las
                        regulaciones
                        locales. Al realizar una reserva, te brindaremos información más detallada sobre los métodos de
                        pago
                        disponibles para tu caso específico. <br><br>
                        Si tienes alguna pregunta o necesitas asistencia adicional con respecto a los métodos de pago,
                        no
                        dudes en comunicarte con nuestro equipo de atención al cliente. Estamos aquí para ayudarte y
                        asegurarnos de que tu experiencia de pago sea conveniente y segura. <br><br>

                        ¡Gracias por elegir DHTravel y esperamos brindarte un excelente servicio en todo tu proceso de
                        reserva y pago! <br><br>
                    </p>
                </section>
            </main>

            <%- include("../partials/footer.ejs") %>
    </body>

</html>