<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="fn-body-qa">
        <%- include("../partials/header.ejs") %>
        <main class="fn-container">
            <h1 class="fn-h1">Preguntas y Respuestas (Q&A) - DHTravel</h1>
            <section class="fn-info">
                <h3>Q: ¿Cómo puedo realizar una reserva con DHTravel?</h3>
                <p class="fn-p">
                    R: Puedes realizar una reserva con DHTravel a través de nuestro sitio web, por teléfono o visitando
                    nuestras
                    oficinas en persona. Simplemente proporciona la información requerida, selecciona los servicios
                    deseados
                    (vuelos, hoteles, actividades, etc.) y realiza el pago correspondiente según las indicaciones
                    proporcionadas.
                </p>
            </section>

            <section class="fn-info">
                <h3>Q: ¿Cuáles son las políticas de cancelación de DHTravel?</h3>
                <p class="fn-p">R: Las políticas de cancelación pueden variar dependiendo de los proveedores de servicios
                    involucrados en
                    tu
                    reserva. En DHTravel, seguimos las políticas establecidas por cada proveedor, que pueden incluir
                    tarifas
                    de
                    cancelación o cambios en caso de cancelaciones. Te informaremos sobre estas políticas al momento de
                    realizar
                    la reserva.</p>
            </section>

            <section class="fn-info">
                <h3>Q: ¿Qué sucede si hay cambios o cancelaciones en mi itinerario de viaje?</h3>
                <p class="fn-p">R: En caso de cambios o cancelaciones en tu itinerario de viaje, te recomendamos que nos contactes lo
                    antes
                    posible. DHTravel actuará como intermediario entre tú y los proveedores de servicios para tratar de
                    resolver
                    cualquier inconveniente y minimizar el impacto en tu viaje. Sin embargo, ten en cuenta que los
                    proveedores
                    de servicios tienen sus propias políticas y DHTravel no puede garantizar cambios o reembolsos en
                    todos
                    los
                    casos.</p>
            </section>

            <section class="fn-info">
                <h3>Q: ¿DHTravel ofrece servicios de asistencia durante el viaje?</h3>
                <p class="fn-p"> R: Sí, en DHTravel nos preocupamos por tu bienestar durante el viaje. Si experimentas algún problema
                    o
                    necesitas asistencia durante tu viaje, te recomendamos que nos contactes de inmediato. Estaremos
                    disponibles
                    para brindarte la ayuda necesaria y colaborar en la resolución de cualquier situación adversa que
                    puedas
                    enfrentar.
                </p>
            </section>

            <section class="fn-info">
                <h3>Q: ¿Qué medidas toma DHTravel para proteger la privacidad de mis datos personales?</h3>
                <p class="fn-p">R: En DHTravel, nos comprometemos a proteger la privacidad y seguridad de tus datos personales.
                    Seguimos
                    las
                    mejores prácticas y cumplimos con las leyes y regulaciones aplicables en materia de privacidad.
                    Puedes
                    encontrar información detallada sobre cómo recopilamos, utilizamos y protegemos tus datos personales
                    en
                    nuestra Política de Privacidad, disponible en nuestro sitio web.
                </p>
            </section>

            <section class="fn-info">
                <h3>Q: ¿DHTravel ofrece algún programa de recompensas o beneficios para clientes frecuentes?</h3>
                <p class="fn-p">R: En DHTravel, valoramos a nuestros clientes frecuentes y nos esforzamos por ofrecerles beneficios
                    especiales. Puedes consultar nuestro programa de lealtad o cualquier promoción vigente en nuestro
                    sitio
                    web
                    o ponerte en contacto con nuestro equipo de atención al cliente para obtener más información sobre
                    las
                    recompensas y beneficios disponibles.
                </p>
            </section>

            <section class="fn-info">
                <p class="fn-p">Esperamos que estas preguntas y respuestas te hayan brindado la información que necesitas. Si tienes
                    más
                    consultas o necesitas asistencia adicional, no dudes en comunicarte con nosotros. Estaremos
                    encantados
                    de
                    ayudarte en tus planes de viaje con DHTravel.</p>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>