<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="fn-body">
        <%- include("../partials/header.ejs") %>
        <main class="fn-container">
            <h1 class="fn-h1">Términos y Condiciones de DHTravel</h1>

            <section class="fn-info">
                <p class="fn-p">
                    Bienvenido/a a DHTravel, una agencia de viajes dedicada a proporcionar experiencias de viaje
                    inolvidables.
                    Antes de utilizar nuestros servicios, te pedimos que leas detenidamente los siguientes Términos y
                    Condiciones. Al hacer uso de nuestros servicios, aceptas y te comprometes a cumplir con estos
                    términos.
                    Si
                    no estás de acuerdo con alguna de las disposiciones establecidas, te pedimos que no utilices nuestro
                    sitio
                    web ni nuestros servicios.
                </p>
            </section>

            <section class="fn-info">
                <h3>1. Responsabilidad del cliente:</h3>
                <p class="fn-p">1.1. Es responsabilidad del cliente proporcionar información precisa y completa al momento de
                    realizar
                    una
                    reserva. DHTravel no se hace responsable de cualquier inconveniente o pérdida causada por
                    información
                    incorrecta o incompleta proporcionada por el cliente.
                    1.2. El cliente debe cumplir con los requisitos de documentación necesarios para viajar, como
                    pasaportes,
                    visas, vacunas u otros documentos requeridos. DHTravel no se hace responsable de cualquier problema
                    o
                    pérdida causada por la falta de cumplimiento de los requisitos de documentación.</p>
            </section>

            <section class="fn-info">
                <h3>2. Reservas:</h3>
                <p class="fn-p">2.1. Las reservas se realizarán a través de nuestro sitio web, por teléfono o en persona en nuestras
                    oficinas. Para confirmar una reserva, se requerirá el pago de un depósito o el pago completo, según
                    se
                    especifique en cada caso.
                    2.2. Las tarifas y disponibilidad están sujetas a cambios sin previo aviso. DHTravel se reserva el
                    derecho
                    de modificar las tarifas y disponibilidad en cualquier momento.
                    2.3. En caso de cancelación de una reserva, se aplicarán las políticas de cancelación establecidas
                    por
                    cada
                    proveedor de servicios (aerolíneas, hoteles, etc.). Estas políticas pueden variar y se comunicarán
                    al
                    cliente al momento de la reserva.</p>
            </section>

            <section class="fn-info">
                <h3>3. Responsabilidad de DHTravel:</h3>
                <p class="fn-p">3.1. DHTravel actúa como intermediario entre los proveedores de servicios (aerolíneas, hoteles, etc.)
                    y
                    el
                    cliente. No nos hacemos responsables de cualquier daño, pérdida, lesión, retraso o inconveniente que
                    pueda
                    surgir durante el viaje, ya sea debido a actos o negligencia de terceros o causas ajenas a nuestro
                    control.
                    3.2. DHTravel no se responsabiliza por cambios o cancelaciones de vuelos, horarios de transporte o
                    servicios
                    proporcionados por terceros. Cualquier reclamación o problema relacionado con los servicios
                    prestados
                    por
                    terceros debe ser dirigido directamente al proveedor de servicios correspondiente.
                    3.3. En caso de problemas durante el viaje, se recomienda al cliente ponerse en contacto con
                    DHTravel lo
                    antes posible para que podamos brindar asistencia y tratar de resolver la situación de la mejor
                    manera
                    posible.</p>
            </section>

            <section class="fn-info">
                <h3>4. Propiedad intelectual:</h3>
                <p class="fn-p">4.1. Todo el contenido presente en el sitio web de DHTravel, incluyendo textos, imágenes, logotipos,
                    diseños
                    y cualquier otro material, está protegido por derechos de autor y otros derechos de propiedad
                    intelectual.
                    Está prohibido utilizar, reproducir, modificar o distribuir cualquier contenido sin autorización
                    previa
                    por
                    escrito de DHTravel.</p>
            </section>

            <section class="fn-info">
                <h3>5. Privacidad:</h3>
                <p class="fn-p">5.1. DHTravel se compromete a proteger la privacidad y seguridad de los datos personales
                    proporcionados
                    por
                    los clientes. Para obtener más información sobre cómo recopilamos, utilizamos y protegemos
                    los datos personales, consulta nuestra Política de Privacidad en nuestro sitio web.</p>
            </section>

            <section class="fn-info">
                <h3>6. Ley aplicable y jurisdicción:</h3>
                <p class="fn-p">6.1. Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes vigentes.
                    Cualquier
                    disputa relacionada con estos términos estará sujeta a la jurisdicción exclusiva de los tribunales
                    competentes en el lugar de establecimiento de DHTravel.</p>
            </section>

            <section class="fn-info">
                <p class="fn-p">Gracias por leer y aceptar nuestros Términos y Condiciones. Esperamos brindarte una excelente
                    experiencia
                    de
                    viaje con DHTravel. Si tienes alguna pregunta o consulta, no dudes en ponerse en contacto con
                    nosotros.
                </p>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>