<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Carattere&family=Imprima&family=Kaisei+Tokumin&family=Mako&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/css/notPermission.css">
        <title>DHTravel - Sin permisos</title>
    </head>

<body class="not-permission">
    <div class="return-container">
            <a class="btn" href="/">REGRESAR</a>
        
    </div>
    <div class="notPermission-container">
        <img src="img/adminUse/gandalf.gif" alt="gandalf.gif">
    </div>
    
</body>
</html>