<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Imprima&family=Mako&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/stylecarrito.css">
</head>
<body>
    <main>
        <section class="contenedor-1">
            <form class="form-cont" action="" method="POST">
                <h2 class="titulo-cont">DATOS DEL USUARIO</h2>
                <p>
                    <input class="form-item1" type="text" name="nombre" placeholder="Nombre" required>
                </p>
                <p>
                    <input class="form-item1" type="date" name="edad" max="2004-01-05" placeholder="Fecha de nacimiento" required>
                </p>
                <p>
                    <input class="form-item1" type="number" name="documento" placeholder="Documento" required>
                </p>
                <p>
                    <input class="form-item1" type="text" name="nacionalidad" placeholder="Nacionalidad" required>
                </p>
                <p>
                    <input class="form-item1" type="text" name="Paisresidencia" placeholder="Pais de Residencia" required>
                </p>
                <p>
                    <input class="form-item1" type="text" name="Provincia" placeholder="Provincia" required>
                </p>
                <p>
                    <input class="form-item1" type="number" name="Telefono" placeholder="Telefono" required>
                </p>
                <p>
                    <input class="form-item1" type="email" name="email" placeholder="Email" required>
                </p>
            </form>
        </section>

        <section class="contenedor-2">
            <h2 class="titulo-cont">MEDIO DE PAGO</h2>
            <form class="form-cont2" action="" method="POST">
                <p>
                    <input class="form-item2" type="number" name="numtarjeta" placeholder="Número de tarjeta" required>
                </p>
                <p>
                    <input class="form-item2" type="text" name="nombretarjeta" placeholder="Titular de tarjeta" required>
                </p>
                <div class="form-item2">
                    <p>
                        <input class="venc-num" type="text" name="fechavenc" placeholder="Vencimiento(MM/AA)" required>
                    </p>
                    <p>
                        <input class="venc-num" type="number" name="codigoseg" placeholder="CVV" required>
                    </p>
                </div>
                <p>
                    <input class="form-item2" type="number" name="documentotarjeta" placeholder="Documento" required>
                </p>
                <p>
                    <input class="form-item2" type="email" name="emailtarjeta" placeholder="Email" required>
                </p>
        </section>
        
        <span>
            <section class="contenedor-3">
                <h3>DETALLE DEL PAQUETE</h3>
                <ul class="Detalle-productos" type="none">
                    <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                </ul>
                <h4>Subtotal</h4>
                <h4>Total</h4>
            </section>
        </span>
        <div>
            <label class="terminos-condiciones">
                <input type="radio">Estoy de acuerdo con los términos y condiciones.</label>
        </div>
        <div>
            <p>
                <button class="boton-compra" type="submit">Confirmación de Compra</button>
            </p>
        </div>
    </main>
</body>

</html>