<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/stylecarrito.css">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="">
        <ul class="ingreso-registro" type="none">
            <li><a href="">Ingreso</a></li>
            <li><a href="">Registro</a></li>
        </ul>
    </header>
    <main>
        <div>
            <section class="contenedor-1">
                <h3>Datos del usuario</h3>
                <form action="datosusuario.html" method="POST">
                    <p>
                        <label>Nombre:</label>
                        <input type="text" name="nombre" required>
                    </p>
                    <p>
                        <label>Fecha de nacimiento:</label>
                        <input type="number" name="edad" required>
                    </p>
                    <p>
                        <label>Documento:</label>
                        <input type="number" name="documento" required>
                    </p>
                    <p>
                        <label>Nacionalidad:</label>
                        <input type="text" name="nacionalidad" required>
                    </p>
                    <p>
                        <label>País de residencia:</label>
                        <input type="text" name="Paisresidencia" required>
                    </p>
                    <p>
                        <label>Provincia:</label>
                        <input type="text" name="Provincia" required>
                    </p>
                    <p>
                        <label>Localidad:</label>
                        <input type="text" name="Localidad" required>
                    </p>
                    <p>
                        <label>Dirección:</label>
                        <input type="text" name="Dirección" required>
                    </p>
                    <p>
                        <label>Email:</label>
                        <input type="email" name="email" required>
                    </p>
                </form>
            </section>
        </div>
        <div>
            <section class="contenedor-2">
                <h3>Datos de la tarjeta</h3>
                <form action="datostarjeta.html" method="POST">
                <p>
                    <label>Numero de tarjeta:</label>
                    <input type="number" name="numtarjeta" required>
                </p>
                <p>
                    <label>Nombre:</label>
                    <input type="text" name="nombretarjeta" required>
                </p>
                <p>
                    <label>Fecha de vencimiento:</label>
                    <input type="number" name="fechavenc" required>
                </p>
                <p>
                    <label>Código de seguridad:</label>
                    <input type="number" name="codigoseg" required>
                </p>
                <p>
                    <label>Email:</label>
                    <input type="email" name="emailtarjeta" required>
                </p>
            </section>
        </div>
        <span>
            <section class="contenedor-3">
                <h3>Detalle del paquete</h3>
                <ul class="Detalle-productos" type="none">
                    <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                </ul>
                <h4>Subtotal</h4>
                <h4>Total</h4>
            </section>
        </span>
        <div>
            <label>
            <input type="radio">Estoy de acuerdo con los términos y condiciones.</label>
        </div>
        <div>
            <p>
            <button type="submit">Confirmación de Compra</button>
            </p>
        </div>
    </main>
</body>

</html>