<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" >
    <script src="https://kit.fontawesome.com/fe28106437.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <img class="logo" src="img/logodeprueba.jpeg" alt="Logo DH Travel">
        <input class="barrainicial" type="text" name="busqueda" placeholder="Buscá tu destino">
            <button class="button5"><i class="fa-solid fa-magnifying-glass"></i></button>
            <a class="acceso" href="#" target="_blank">Ingreso</a>
            <a class="acceso" href="#" target="_blank">Registro</a>
            <button class="button3"><i class="fa-solid fa-cart-flatbed-suitcase"></i></button>
    </header>

    <section>
        <div>
            <img class="logo2" src="img/logodeprueba.jpeg" alt="Logo DH Travel">
        </div>
        <input class="espacios" type="text" name="usuario" placeholder="Ingrese su usuario">
        <p><a class="letras" href="#">Recuperá tu cuenta</a></p>
        <input class="espacios" type="password" name="contraseña" placeholder="Ingrese su contraseña">
        <p><a class="letras" href="#" target="_blank">Olvidaste tu contraseña</a></p>
        <input class="cursor" type="submit" value="Ingresar">
        <h4 class="letras">logueate con</h4>
        <div>
        <button class="button1"><i class="fa-brands fa-facebook"></i></button>
        <button class="button2"><i  class="fa-brands fa-google"></i></button>
    </div>
    </section>

    <br>
    <br>
    <br>

    <footer>

        <div>
        <a class="footer1" href="#" target="_blank">Términos y condiciones</a>
        <a class="footer1" href="#" target="_blank">Preguntas frecuentes</a>
        <a class="footer1" href="#" target="_blank">Contacto</a>
        <a class="footer1" href="#" target="_blank">Conocenos</a>
        <a class="footer1" href="#" target="_blank">RR.HH</a>
        <a class="footer1" href="#" target="_blank">Formas de pago</a> 
        </div>

        <div class="mediosdepago">
            <button class="mediosdepago"><i  class="fa-brands fa-cc-visa"></i></button>
            <button class="mediosdepago"><i  class="fa-brands fa-cc-mastercard"></i></button>
            <button class="mediosdepago"><i  class="fa-regular fa-circle"></i></button>
        </div>
        <div>
            <button class="redessociales"><i class="fa-brands fa-youtube"></i></button>
            <button class="redessociales"><i class="fa-brands fa-facebook"></i></button>
            <button class="redessociales"><i class="fa-brands fa-instagram"></i></button>
            <button class="redessociales"><i class="fa-brands fa-reddit"></i></button>
            <button class="redessociales"><i class="fa-brands fa-whatsapp"></i></button>
        </div>
        <h5>Agencia de viajes DH Travel c 2010-2022 CIAN-187653-3</h5>
        <div><h6>Todos los derechos reservados</h6></div>

    </footer>
    
</body>
</html>
    