<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../Public/css/productDetail.css">

</head>

<body>
    <header>
        <div class="head">
            <img src="/DHTravel/Public/img/logo.png" alt="Logo DH turismo" class="logo">
            <section class="barra-busqueda">
                <label for="search">Buscar: <i class="fas fa-search"></i></label>
                <input type="text">
            </section>
            </section>
           
                    <ul class="login" type="none">
                        <li><a href="#">Ingreso </a></li>
                        <li><a href="#">Registro </a></li>
                    </ul>
            
        </div>
        <section class="burger-menu">
            <i class="fas fa-bars"></i> 
        </section>

    </header>
    <main class="main">
        <section class="bannerT">
            <div class="text1">
                <h3>Detalle del paquete</h3>
            </div>
        </section>
            <article class="producto">
                <h3>Carnaval en Rio de Janeiro</h3>
                
                    <img class="img-scale" src="/DHTravel/Public/img/Brasil2023.png" alt="brasil">
                    <div class="precio">
                        <div>
                            <h4>TOTAL</h4>
                            <H6>Base doble</H6>
                        </div>
                        <div>
                            <h4>USD 1.194</h4>
                            <H6>Por persona</H6>
                        </div>
                        <div>
                        </div>
                    </div>
                
            </article>

            <nav class="nav">
                <h5 class="tituloIncluye">Incluye</h5>
                <ul class="incluye" type="none">
                    <li>- Traslados aeropuerto / hotel / aeropuerto en PRIVADO</li>
                    <li>- 3 noches de hotel con Desayuno en Windsor Plaza</li>
                    <li>- Ingreso para día de Carnaval(19/02 o 20/02)</li>
                    <li>- Traslado Hotel / Canódromo / Hotel</li>
                    <li>- Asistencia al viajero</li>
                </ul>
            </nav>
            <div class="carro">
                <h3 class="carrito">AGREGAR AL CARRITO</h3>
            </div>
        </div>
    </main>
    <footer>
        <section class="foot">
            <div class="i">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3 class="sec-h3">Pago anticipado del 50%, el resto lo pagas cuando llegas.</h3>
            <p class="sec-p">DH VIAJES es la red de Agencias de Viajes más grande del País, con 80 puntos de venta en 11
                provincias y 30 años de trayectoria.
                Cumplimos los sueños de nuestros viajeros brindando promociones verdaderas con atención personalizada,
                servicios de calidad y financiación exclusiva.</p>
    </footer>
</body>

</html>