<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/img/logo.ico">
    <link
        href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Carattere&family=Imprima&family=Kaisei+Tokumin&family=Mako&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, inicial-scale=1">
    <title>DHTravel Registro</title>
</head>

<body>
    <header>
        <section class="top-header">
            <div class="logo-container">
                <a href="#">
                    <img class="header-logo" src="/img/logo.png" alt="DHTravel Logo">
                </a>
            </div>
            <div class="search-bar">
                <input class="input-searcher" type="text" placeholder="Busque su destino">
                <button class="icon-a"><i class="fas fa-search"></i></button>
            </div>
            <div class="login-container">
                <nav class="login">
                    <ul class="ul-li" type="none">
                        <div>
                            <li><a href="#">Ingresa</a></li>
                        </div>
                        <div class="li-item">
                            <li><a href="#">Registrarte</a></li>
                        </div>
                        <div class="li-item">
                            <li><a href="#"><i class="fa-solid fa-cart-flatbed"></i></a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <main class="main-container">
        <section class="data-box">
            <div class="img-paq">
                <img src="/img/rio-carnival-2023 copia.png" alt="paquete brasil">
            </div>
            <section class="paquete">
                <div class="incluye">
                    <h3>Incluye</h3>
                </div>
                <div class="main-h3">
                    <p>
                        * Traslados Aeropuerto <br>
                        * Seguro al viajero <br>
                        * 4 Noches hotel 4 estrellas <br>
                        * Desayuno <br>
                        * 3 Noches de ingreso al corsodromo <br>
                    </p>
                </div>
                <div class="precio">
                    <h3>Precio Total US$ 900</h3>
                </div>
            </section>
            <section class="comprar">
                <div class="main-h4">
                    <p>
                        <a href="#">
                            <h4>Comprar paquete</h4>
                        </a>
                    </p>
                </div>
            </section>

        </section>
    </main>
</body>
<footer>
    <div>
        <section class="info-li">
            <nav class="footer-nav">
                <ul class="footer-nav-li" type="none">
                    <li><a class="nav-li-item" href="#">Terminos y condiciones</a></li>
                    <li><a class="nav-li-item" href="#">Preguntas Frecuentes</a></li>
                    <li><a class="nav-li-item" href="#">Contacto</a></li>
                    <li><a class="nav-li-item" href="#">Conocenos</a></li>
                    <li><a class="nav-li-item" href="#">RRHH</a></li>
                    <li><a class="nav-li-item" href="#">Formas De Pago</a></li>
                </ul>
            </nav>
        </section>
        <section class="social-media">
            <div>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </section>
        <section class="copyright-info">
            <div class="credit-card">
                <div>
                    <i class="fa-brands fa-cc-visa"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-mastercard"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-amex"></i>
                </div>
            </div>
            <div class="copy-p">
                <p>Copyright © 2021-2023 DHTravel S.A.</p>
                <p>Av. Cordoba 1986, Piso 2, CP 1244, Almagro, CABA</p>
            </div>
        </section>
    </div>
</footer>
        <div class="head">
            <img src="/DHTravel/Public/img/logo.png" alt="Logo DH turismo" class="logo">
            <section class="barra-busqueda">
                <label for="search">Buscar: <i class="fas fa-search"></i></label>
                <input type="text">
            </section>
            </section>
            <section class="navegacion">
                    <ul class="login" type="none">
                        <li><a href="#">Ingreso </a></li>
                        <li><a href="#">Registro </a></li>
                    </ul>
            </section>
        </div>
        <section class="burger-menu">
            <i class="fas fa-bars"></i> 
        </section>

    </header>
    <main>
        <section class="bannerT">
            <div class="text1">
                <h3>BRASIL 2023</h3>
            </div>
            <img class="banner" src="/DHTravel/Public/img/banner-brasil.jpg" alt="playa brasil">
        </section>
        <div class="articuloproducto">

            <article class="producto">
                <h3>Carnaval en Rio de Janeiro</h3>
                <div>
                    <img class="img-scale" src="/DHTravel/Public/img/Brasil2023.png" alt="brasil">
                    <div class="precio">
                        <div>
                            <h4>TOTAL</h4>
                            <H6>Base doble</H6>
                        </div>
                        <div>
                            <h4>USD 1.194</h4>
                            <H6>Por persona</H6>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </article>

            <nav class="nav">
                <h5 class="tituloIncluye">Incluye</h5>
                <ul class="incluye" type="none">
                    <li><a href="#">Traslados aeropuerto / hotel / aeropuerto en PRIVADO</a></li>
                    <li><a href="#">3 noches de hotel con Desayuno en Windsor Plaza</a></li>
                    <li><a href="#">Ingreso para día de Carnaval(19/02 o 20/02)</a></li>
                    <li><a href="#">Traslado Hotel / Canódromo / Hotel</a></li>
                    <li><a href="#">Asistencia al viajero</a></li>
                </ul>
            </nav>
            <h3 class="carrito">AGREGAR AL CARRITO</h3>
        </div>
    </main>
    <footer>
        <section>
            <div class="i">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3 class="sec-h3">Pago anticipado del 50%, el resto lo pagas cuando llegas.</h3>
            <p class="sec-p">DH VIAJES es la red de Agencias de Viajes más grande del País, con 80 puntos de venta en 11
                provincias y 30 años de trayectoria.
                Cumplimos los sueños de nuestros viajeros brindando promociones verdaderas con atención personalizada,
                servicios de calidad y financiación exclusiva.</p>
    </footer>
</body>

</html>