<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Carattere&family=Imprima&family=Kaisei+Tokumin&family=Mako&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, inicial-scale=1">
    <title>DHTravel Registro</title>
</head>
<body>
    <header>
        <section class="top-header">
            <div class="logo">
                <img src="/img/logo.png" alt="DHTravel Logo">
            </div>
        </section>
        <section>
            <div>
                <nav>
                    <ul class="ul-li" type="none">
                        <div>
                            <li><a href="#">Ingresa</a></li>
                        </div>
                        <div class="li-item">
                            <li><a href="#">Registrarte</a></li>
                        </div>
                        <div class="li-item">
                            <li><a href="#"><i class="fa-solid fa-cart-flatbed"></i></a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <main class="main-container">
        <section class="data-box">
            <div class="register-logo">
                <img src="/img/logo.png" alt="DHtravel Logo">
            </div>
            <div class="register-forms"></div>
            <div class="register-media"></div>
        </section>
    </main>
</body>
<footer>
    <section class="info-li">
        <nav>
            <ul class="" type="none">
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Conocenos</a></li>
                <li><a href="#">RRHH</a></li>
                <li><a href="#">Formas De Pago</a></li>
            </ul>
        </nav>
    </section>
    <section class="copyright-info">
        <div class="credit-card"></div>
        <div class="copy-p"></div>
    </section>
    <section class="social-media">
        <div>
            <a href="#"></a>
        </div>
        <div>
            <a href="#"></a>
        </div>
        <div>
            <a href="#"></a>
        </div>
        <div>
            <a href="#"></a>
        </div>
    </section>
</footer>
</html>
