/*ADMIN NAVBAR*/
.admin-header-cont {
    position: fixed;
    z-index: 10;
}

.admin-header {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.admin-h1 {
    margin-right: 50px ;
    font-size: 40px;
    letter-spacing: 7px;
    color: #764596;
}
.img-admin {
    margin-top: 15px;
    width: 100px;
}

.burger {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.burger,
.menu {
    position: fixed;
}

.burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url(/img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

body.open .burger {
    background-image: url(/img/close.svg);
}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #13041f;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu nav {
    opacity: 0;
}

@keyframes menu-in {
    0% {
        clip-path: ellipse(60% 60% at 0% 50%);
    }

    100% {
        clip-path: ellipse(120% 120% at 0% 50%);
    }
}

body.open .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
}

body.open .menu nav {
    opacity: 1;
}

.menu nav:hover a {
    opacity: 0.25;
}

.menu nav a:hover {
    opacity: 1;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu a {
    position: relative;
    top: -150px;
    color: #764596;
    font-size: 22px;
    font-family: "Mako";
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
}

.menu a::before,
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.4s;
}

.menu a::before {
    opacity: 0;
    background: rgb(255 255 255 / 20%);
}

.menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #9a85d1;
}

.menu a:hover::before {
    opacity: 1;
}

.menu a:hover::after {
    transform: scaleX(1);
}

body.open .menu a {
    animation: appear 0.25s backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: -30px 0;
    }

    100% {
        opacity: 1;
    }
}

/*ADMIN NAVBAR*/
.admin-header-cont {
    position: fixed;
    z-index: 10;
}

.admin-header {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.admin-h1 {
    margin-right: 50px ;
    font-size: 40px;
    letter-spacing: 7px;
    color: #764596;
}
.img-admin {
    margin-top: 15px;
    width: 100px;
}

.burger {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.burger,
.menu {
    position: fixed;
}

.burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url(/img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

body.open .burger {
    background-image: url(/img/close.svg);
}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #13041f;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu nav {
    opacity: 0;
}

@keyframes menu-in {
    0% {
        clip-path: ellipse(60% 60% at 0% 50%);
    }

    100% {
        clip-path: ellipse(120% 120% at 0% 50%);
    }
}

body.open .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
}

body.open .menu nav {
    opacity: 1;
}

.menu nav:hover a {
    opacity: 0.25;
}

.menu nav a:hover {
    opacity: 1;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu a {
    position: relative;
    top: -150px;
    color: #764596;
    font-size: 22px;
    font-family: "Mako";
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
}

.menu a::before,
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.4s;
}

.menu a::before {
    opacity: 0;
    background: rgb(255 255 255 / 20%);
}

.menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #9a85d1;
}

.menu a:hover::before {
    opacity: 1;
}

.menu a:hover::after {
    transform: scaleX(1);
}

body.open .menu a {
    animation: appear 0.25s backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: -30px 0;
    }

    100% {
        opacity: 1;
    }
}

/* USER EDIT */
.edit-form {
    margin: auto;
    width: 90vw;
    max-width: 400px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 9%;
    background-color: #20142A;
    border-radius: 5px;
    /* border: solid 1px #5B050C; */
    background-color: rgba(32, 20, 42, 0.9);
}

.main-containerAdmin {
    padding-top: 3%;
    margin-top: 0%;
    padding-bottom: 6%;
    width: 100vw;
    background-image: url(/img/adminUse/RazerChroma.png);
    background-position-y: center;
    background-position-x: center;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.main-containerAdmin2 {
    padding-top: 3%;
    margin-top: 0%;
    padding-bottom: 6%;
    width: 100vw;
}

.btn-edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Mako';
}

/* USER DETAIL */
.udetail-main {
    height: 100vh;
}

.udetail-img {
    width: 150px;
    margin: auto;
    margin-top: 10%;
}

.udetail-h4 {
    font-size: 15px;
    color: #a297ad;
    font-weight: 200;
    height: 10px;
}

.udetail {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    max-width: 300px;
}

.udetail-info {
    width: 250px;
    height: 30%;
    margin-left: 20px;
    margin-top: 20px;
}

.udetail-container {
    margin: auto;
    height: 30px;
    font-family: 'Mako';
}

.udetail-container img {
    width: 160px;
    height: 130px;
}

.udetail-btns {
    height: 25%;
    display: flex;
    justify-content: center;
}

.udetail-btn h4 {
    color: #ffffff;
    font-family: 'Mako';
    height: 2vh;
}

.udetail-btn {
    font-size: 10px;
    width: 100px;
}

.userinfo-container {
    margin-top: 30px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-info {
    margin: 10px 20px 10px 20px;
}

.delete-btn {
    position: absolute;
    top: 821px;
    right: 810px;
    font-family: 'Mako';
}
.useredit-btn {
    position: absolute;
    top: 899px;
    right: 810px;
    font-family: 'Mako';
}
.p-edit-form{
    margin-top: -50px;
}

/* ALLUSERS */
.allusers-container {
    background-image: url(/img/adminUse/RazerChroma.png);
    background-position-y: center;
    background-position-x: center;
    background-attachment: fixed;
    height: 100%;
}

.alluser-container {
    margin-bottom: 0;
}

.ub-container {
    width: 100%;
    margin: auto;
    margin-bottom: -10px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.ub-button {
    background-color: rgba(255, 255, 255, 0.315);
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #0a0042;
    border-radius: 4px;
    margin: 20px 20px 20px 20px;
    color: #1c1729;
    font-family: 'Mako';
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cb-a {
    color: rgba(39, 36, 92, 0.671);
    text-decoration: none;
    letter-spacing: 1px;
}

#ub-button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    bottom: 10px;
}

#ub-button-2 a {
    position: relative;
    transition: all .35s ease-Out;
    color: #362a53;
}

#ub-slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #110a4e;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

#ub-button-2:hover #ub-slide {
    left: 0;
}

#ub-button-2:hover a {
    color: #e0dede;
}


/* USER CREATE */
.u-create-sec {
    margin-top: 5px;
    margin-bottom: 50px;
    height: 700px;
    border: none;
}

.u-create-btn {
    position: relative;
    bottom: 10px;
    font-family: 'Mako';
}

/* USER EDIT */

.ue-form {
    display: block;
}

.ue-cont {
    margin: auto;
}

.ue-btn {
    margin-top: 12px;
}

.sec-up2{
    height: 800px;
}

#button-4 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    bottom: 20px;
    left: 100px;
}

/* ALLPRODUCTS */
.admin-card {
    width: 350px;
    height: 500px;
}

.card-info {
    height: 5%;
}

.admin-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-info h4 {
    font-size: 15px;
    margin-bottom: -20px;
}

.card-info-title {
    height: 10%;
    z-index: 1;
}

.card-info-description h4 {
    height: 5%;
    font-size: 15px;
    margin-left: 14px;
    margin-top: -20px;
}

.card-info-description,
.card-info {
    z-index: 1;
}

.btn1 {
    margin: auto;
}


.admin-btn {
    background-color: transparent;
    font-size: 13px;
    font-family: 'Mako';
    overflow: hidden;
}

/* PRODUCT EDIT */
.edit-admin {
    height: 780px;
}

.btn-2 {
    margin: auto;
    margin-top: 15px;
}

.pe-btn {
    margin-top: 10px;
}

.pe-btn-del::before {
    background-color: #7c0810;
}

.pe-btn-del::after {
    background-color: #a50000;
}

.p-edit-form {
    display: block;
}

/* PRODUCT CREATE  */
.product-create {
    height: 600px;
}

.prd {
    height: 210px;
}

/* ERRORS  */
.name-error,
.description-error,
.destination-error,
.origin-error,
.person-error,
.date-error,
.price-error,
.category-error,
.image-error {
    font-size: 11px;
    color: #860c16;
    height: 5px;
    font-family: 'Mako';
}

.prd {
    margin-bottom: 25px;
}

.p-error {
    position: relative;
    bottom: 23px;
}

/* PRODUCT DETAIL */
.form-group .form-control1 {
    width: 100%;
    position: relative;
    z-index: 3;
    height: 35px;
    background: none;
    border: none;
    padding: 5px 0;
    transition: .3s;
    border-bottom: 1px solid #777;
    color: #555;
}

.form-group .form-control1:focus {
    outline: none;
    box-shadow: 0 1px #420e6d;
    border-color: #1a062b;
}

.form-group .form-control1:focus {
    outline: none;
    box-shadow: 0 1px #420e6d;
    border-color: #1a062b;
}

.form-group .form-control1:valid+.form-label {
    font-size: 12px;
    color: rgb(207, 189, 221);
    transform: translateY(-20px);
}