* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/*HEADER*/
header {
    width: 100vw;
    height: 15vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: Mako, Imprima;
    background: linear-gradient(-45deg, #1b1820, #160931);
}

.top-header {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: flex-start;
}

.logo-container {
    width: 30%;
    margin: 0;
    padding: 0px;
}

.login-section {
    padding-top: -100px;
}

.login {
    width: 100vw;
}

.ul-li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.li-item {
    width: 33%;
}

.li-item li {
    width: 100%;
}

.ul-li a,
.ul-li a:visited {
    color: #9e92a7;
    font-weight: 500;
}

.header-logo {
    width: 50px;
    margin: 10% 10%;
}
.container-search {
    display: flex;
    flex-direction: column;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 20px 0;
}

.input-searcher[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #4b426b;
    font-size: 16px;
    color: rgb(60, 63, 95);
    transition: width 0.5s ease;
}

.input-searcher[type="text"]:focus {
    outline: none;
    width: 60%;
    transition: 1.2s;
}

.icon-a {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

.fa-search {
    color: #ccc;
}

.input-searcher[type="text"]:focus+button .fa-search {
    color: #ccc;
}

.input-searcher {
    width: 50vw;
    height: 30px;
}

.search-box input {
    max-width: 800px;
    border-radius: 20px;
    border: solid 2px #20142A;
    text-align: center;
    font-weight: 300;
    background: linear-gradient(45deg, #3b314b, #2b1d46);
}


/* NAV LOGGED */
.art1 {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.logged li {
    padding-top: 17px;
}

.art1 h4 {
    color: rgb(190, 183, 209);
}

.art4 li a {
    margin-right: 0px;
}

.nav-logged {
    height: 20px;
}

.ls-logged {
    height: 7vh;
    margin-bottom: 30px;
}

.ul-logged {
    margin-bottom: 20px;
}

.ul-li .ul-logged {
    width: 100%;
    height: 10px;
}

.btn-logged {
    width: 100px;
    height: 5vh;
}

/*FOOTER*/
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 700;
    box-sizing: content-box;
    background: linear-gradient(-45deg, #1b1820, #160931);
    color: #9e92a7;
    font-family: Mako, Imprima;
}

.footer-nav {
    padding: 10px;
}

.footer-nav-li {
    width: 90%;
    max-width: 750px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 700;
    color: #9e92a7;
    justify-content: space-evenly;
}

.nav-li-item {
    padding-left: 2px;
}

.nav-li-item:visited {
    color: #9e92a7;
}

.copyright-info {
    padding-top: 1vh;
    padding-bottom: 2vh;
    margin-left: 10px;
}

.credit-card {
    display: flex;
    justify-content: flex-start;
}

.credit-card i {
    font-size: 120%;
    margin: 0px 5px;
    color: #4f3580;
    background-color: #000000;
}

.copy-p {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 700;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 200%;
    padding: 10px;
}

.icon {
    margin: auto;
    padding-right: 30px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    font-size: 25px;
    color: #fff;
    border-radius: 100%;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 250ms;
}

.icon:hover {
    outline-offset: 4px;
    outline: 2px solid #fff;
}

.icon-facebook:hover {
    background-color: #2709ce;
    outline-color: #330cc4;
}

.icon-instagram:hover {
    background-image:
        radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB);
    outline-color: #a02d76;
}

.icon-telegram:hover {
    background-color: rgb(52, 116, 253);
    outline-color: rgb(2, 90, 172);
}

.icon-whatsapp:hover {
    background-color: #04ad12;
    outline-color: #338305;
}

.btn-hover {
    font-size: 10px;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    margin: 0 20px;
}

.btn-hover:before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
}

.btn-hover:hover:before {
    width: 100%;
    left: 0;
}

/* ERRORS */
.validation-error {
    font-size: 11px;
    color: #463f6d;
    height: 5px;
}

/* POPUP */
.popup-body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0px 30px;
    background-image: url(/img/productImage/grecia.jpg);
    background-position-y: center;
    background-position-x: center;
    background-size: 300vh;
    background-repeat: no-repeat;
}

.wrapper2 {
    max-width: 960px;
    width: 100%;
    margin: 30px auto;
    transform: scale(0.8);
}

.landing-page {
    font-family: 'Mako';
    max-width: 960px;
    height: 70vh;
    margin: 0;
    box-shadow: 0px 0px 8px 1px #ccc;
    background: #ffffff83;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-svg {
    width: 50%;
    max-height: 225px;
    height: auto;
    margin: 0 0 15px;
}

.popup-h1 {
    font-size: 20px;
    margin: 0;
}

.popup-p {
    font-size: 20px;
    font-weight: 500;
    width: 35%;
    margin: 16px auto 24px;
    text-align: center;
}

.popup-button,
.popup-button a:visited {
    border-radius: 50px;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    background: #231b38;
    color: #7873b9;
    font-weight: 700;
    letter-spacing: 4px;
    border: none;
    box-shadow: 0 4px 8px 0 #ccc;
}

.img-under {
    width: 50%;
    max-height: 225px;
    height: auto;
    margin: 0 0 15px;
}

/* ERROR 404 */
.lp-error {
    height: 90vh;
}

.img-404 {
    margin-top: -100px;
    width: 60%;
    min-width: 300px;
    max-width: 700px;
}

.error-h1 {
    margin-bottom: 50px;
    font-size: 100px;
    letter-spacing: 10px;
}

.error-p {
    font-size: 30px;
}

.profile-edit {
    padding-top: 3%;
    margin-top: 0%;
    padding-bottom: 6%;
    width: 100vw;
    background-image: url(/img/productImage/img5.jpg);
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-edit-img {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.edit-prof {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-label2 {
    position: absolute;
    z-index: 1;
    left: 0;
    top: -12px;
}

.form-label3 {
    font-size: 25px;
    font-weight: 600;
}


.button3 {
    background-color: rgba(255, 255, 255, 0.315);
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #0a0042;
    border-radius: 4px;
    margin: 20px 20px 20px 20px;
    color: #1c1729;
    font-family: 'Mako';
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    bottom: 60px;
    left: 100px;
}

#button-3 a {
    position: relative;
    transition: all .35s ease-Out;
    color: #362a53;
}



#button-3:hover #slide {
    left: 0;
}

#button-3:hover a {
    color: #e0dede;
}



/*TABLET*/
@media (min-width: 460px) {

    .social-media {
        justify-content: flex-end;
    }

    .social-media i {
        padding: 20px;
    }

    .popup-h1 {
        font-size: 30px;
    }

    .error-h1 {
        font-size: 100px;
    }
}

/*NOTEBOOKS*/
@media (min-width: 750px) {
    header {
        height: 125px;
    }

    .search-box {
        width: 100%;
        padding-right: 60px;
    }

    .input-searcher {
        width: 40vw;
        height: 30px;
    }

    .top-header {
        height: 70px;
    }

    .header-logo {
        width: 60%;
        padding-top: 5px;
    }

    .logo-container {
        padding-right: 10px;
        width: 130px;
    }

    .li-item {
        width: 10%;
    }

    .li-item a {
        font-size: 13px;
    }

    .footer-nav-li {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .art1 {
        display: flex;
        justify-content: space-around;
        width: 150px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    footer {
        height: 240px;
        margin-bottom: 0px;
    }

    footer div {
        height: 100%;
    }

    .info-li {
        height: 90px;
    }

    .btn-hover {
        font-size: 12px;
    }

    .login-container {
        padding-top: 10px;
        font-size: 20px;
    }

    .social-media {
        font-size: 250%;
        height: 65px;
    }

    .copyright-info {
        padding-bottom: 20px;
        font-size: 20px;
        height: 65px;
    }

    .copy-p {
        font-size: 15px;
    }

    .popup-h1 {
        font-size: 40px;
    }

    .error-h1 {
        margin-bottom: 50px;
        font-size: 100px;
        letter-spacing: 10px;
    }


}