*{
  padding: 0;
  margin: 0;
}

.titulo-index{
  color: rgb(30, 3, 66);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 45px;
  text-align: center;
  font-family:'Zeyada', cursive;;
  font-weight: 200;
}

.div-fondo {
  background-image: url(/img/img-index5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-plus {
  padding-right: 3%;
  padding-left: 1%;
}

.container-index{
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 2%;
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.box-index{
  flex: 1;
  margin: 0px;
  box-shadow: 0 0 30px rgb(255, 255, 255);
  line-height: 0;
  transition: all 600ms;
}

.box-index > img{
  width: 200%;
  height: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: all 300ms;
  background-color: transparent;
}


.box-index:hover{
  flex: 50%;
}

.box-index:hover > img{
  width: 100%;
  height: 100%;
}

.container-card{
width: 100%;
display: flex;
flex-direction: column;
max-width: 1100px;
margin: auto;
}
.title-cards{
width: 100%;
max-width: 1080px;
margin: auto;
padding: 20px;
margin-top: 20px;
text-align: center;
color: #7a7a7a;
}
.card-index{
  margin: 5%;
  border-radius: 6px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  transition: all 400ms ease-out;
  cursor: default;
}
.card-index:hover{
box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
transform: translateY(-3%);
}
.card-index img{
width: 100%;
height: 210px;
}
.card-index .contenido-card{
padding: 15px;
text-align: center;
  background-color: #FFF;
}
.card-index .contenido-card h3{
margin-bottom: 15px;
color: #7a7a7a;
  background-color: #FFF;
}
.card-index .contenido-card p{
line-height: 1.8;
color: #6a6a6a;
font-size: 14px;
margin-bottom: 5px;
  background-color: #FFF;
}
.card-index .contenido-card a{
display: inline-block;
padding: 10px;
margin-top: 10px;
text-decoration: none;
color: #390552;
border: 1px solid #390552;;
border-radius: 4px;
transition: all 400ms ease;
margin-bottom: 5px;
}
.card-index .contenido-card a:hover{
background: #390552;;
color: #fff;
}


.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #20ba5a;
}

.wrapper {
  font-family: 'Nunito', sans-serif;
  line-height: 50px;
  color: #FFF;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  position: relative;
  }
  .img-index {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  }
  .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100px;
  text-align: center;
  }
  .parrafo-index-final{
  font-size: 17px;
  width: 250px;

  }
  .linea-index-final{
    font-size: 20px;
    }

  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: transparent;
      }
      .wrapper:hover .overlay {
      opacity: 1;
      }

      @media (min-width: 440px) {
        .parrafo-index-final{
          font-size: 22px;
          width: 300px;
      }
    }

      @media (min-width: 768px) and (max-width: 989px) {
        .titulo-index{
          font-size: 60px;
        }
        .container-card{
            flex-direction: row;
            flex-wrap: wrap;
        }
        .card-index {
          margin-top: 5%;
          margin-bottom: 5%;
          width: 40%;
        }
        .parrafo-index-final{
          font-size: 27px;
          width: 360px;
      }
    }
      @media (min-width: 990px) {
        .titulo-index{
          font-size: 75px;
        }
          .container-card{
              flex-direction: row;
              flex-wrap: wrap;
          }
          .card-index{
          margin: 2%;
          width: 29%
          }
          .btn-wsp{
              width:63px;
              height:63px;
              line-height: 66px;
          }
          .parrafo-index-final {
            font-size: 27px;
            width: 390px;
        }
        .linea-index-final {
          font-size: 27px;
          width: 390px;
      }
      }


.card {
  border-radius: 10px;
  position: relative;
  width: 310px;
  height: 420px;
  outline: 2px solid rgb(125 155 178 /25%);
  outline-offset: -10px;
  overflow: hidden;
  isolation: isolate;
}
.card-content {
  display: flex;
  justify-content: center; 
  flex-direction: column;
}

.card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
  z-index: -1;
}
.card-content p {
  margin: auto;
  padding-top: 30px;
  display: none;
  font-family: 'Carattere', cursive;
  font-size: 20px;
  font-weight: 500;
}
.card-content h4 {
  margin: auto;
  padding-top: 40px;
  font-size: 25px;
  font-family: 'Mako';
}

.card:hover  {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-2%);
  transition-duration: 200ms;
}
.card-img:hover {
  transform: scale(1.5);
}
.card:hover .card-content p {
  display: block;
}
