*{
  padding: 0;
  margin: 0;
}

/* INDEX & SLIDER */
.titulo-index{
  color: rgb(30, 3, 66);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 45px;
  text-align: center;
  font-family:'Zeyada', cursive;
  font-weight: 200;
}

.div-fondo {
  background-image: url(/img/productImage/581591.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-index{
  padding-right: 3%;
  padding-left: 1%;
  padding: 2%;
  display: flex;
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.box-index{
  flex: 1;
  margin: 0px;
  box-shadow: 0 0 30px rgb(255, 255, 255);
  line-height: 0;
  transition: all 600ms;
  overflow: hidden;
  position: relative;
}
.box-index::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.box-index > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.box-index:hover{
  flex: 50%;
}

.box-index:hover > img{
  transform: scale(1.2);
}

/* CARDS */
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card {
  margin: 10px;
  border-radius: 10px;
  position: relative;
  width: 250px;
  height: 350px;
  outline: 2px solid rgb(125 155 178 /25%);
  outline-offset: -10px;
  overflow: hidden;
  isolation: isolate;
  transition: transform 0.3s ease-in-out;
}
.card-content {
  display: flex;
  justify-content: center; 
  flex-direction: column;
}

.card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
  z-index: -1;
  
}
.card-content p {
  margin: auto;
  padding: 50px 20px 0 20px;
  display: none;
  font-family: 'Carattere', cursive;
  font-size: 25px;
  font-weight: 600;
  /* color: #9e92a7; */
}
.card-content h4 {
  margin: auto;
  padding-top: 40px;
  font-size: 25px;
  font-family: 'Mako';
}

.card:hover  {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-2%);
  transition-duration: 200ms;
}

.card:hover .card-content p {
  display: block;
}

.card:hover .card-img {
  transform: scale(1.5);
}

/* CARD BUTTON  */
.cb-container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 150px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
}

.button {
  background-color: rgba(255, 255, 255, 0.315);
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #0a0042;
  border-radius: 4px;
  margin: 20px 20px 20px 20px;
  color: #1c1729;
  font-family: 'Mako';
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cb-a{
  color: rgba(39, 36, 92, 0.671);
  text-decoration: none;
  letter-spacing: 1px;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all .35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #110a4e;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
  color: #e0dede;
}
.card:hover .cb-container {
  display: flex;
}

/* WSP BUTTON */
.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #20ba5a;
}

/* WRAPPER */

.wrapper {
  font-family: 'Nunito', sans-serif;
  line-height: 50px;
  color: #FFF;
  width: 100%;
  height: 40%;
  margin: 0 auto;
  position: relative;
  }
  .img-index {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  }
  .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100px;
  text-align: center;
  }
  .parrafo-index-final{
  font-size: 17px;
  width: 250px;

  }
  .linea-index-final{
    font-size: 20px;
    }

  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: transparent;
      }
      .wrapper:hover .overlay {
      opacity: 1;
      }

      @media (min-width: 440px) {
        .parrafo-index-final{
          font-size: 22px;
          width: 300px;
      }
    } 

      @media (min-width: 768px) and (max-width: 989px) {
        .titulo-index{
          font-size: 60px;
        }
        .container-card{
            flex-direction: row;
            flex-wrap: wrap;
        }
        .card-index {
          margin-top: 5%;
          margin-bottom: 5%;
          width: 40%;
        }
        .parrafo-index-final{
          font-size: 27px;
          width: 360px;
        } 

        .card {
          margin: 10px;
          border-radius: 10px;
          position: relative;
          width: 310px;
          height: 420px;
          outline: 2px solid rgb(125 155 178 /25%);
          outline-offset: -10px;
          overflow: hidden;
          isolation: isolate;
        }
    }
      @media (min-width: 990px) {
        .titulo-index{
          font-size: 75px;
        }
          .container-card{
              flex-direction: row;
              flex-wrap: wrap;
          }
          .card-index{
          margin: 2%;
          width: 29%
          }
          .btn-wsp{
              width:63px;
              height:63px;
              line-height: 66px;
          }
          .parrafo-index-final {
            font-size: 27px;
            width: 390px;
        }
        .linea-index-final {
          font-size: 27px;
          width: 390px;
      }

      .card {
        margin: 10px 40px 25px 40px;
        border-radius: 10px;
        position: relative;
        width: 310px;
        height: 420px;
        outline: 2px solid rgb(125 155 178 /25%);
        outline-offset: -10px;
        overflow: hidden;
        isolation: isolate;
      }
    }


