.body-productId {
    
    background-position-y: center;
    background-position-x: center;
    font-family: Mako, Imprima;
    background-color: #eeeeee;
}
.h4-productId {
    font-size: 15px;
    color: white;
    font-weight: normal;
}

span {
    font-weight: bold;
}

.description-productId {
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    color: white;
    width: 60%;
    text-align: center;
}

.name-productId{
    font-size: 20px;
    color: yellow
}

.price-productId{
    font-size: 21px;
    color: yellow
}

.botones-productId {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 220px;
}

.botton-productId {
    width: 70px;
}

.h4-botton {
    font-style: normal;
    font-weight: normal;
}