* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
.head{
    background-color: #20142A;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.login{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}
main{
    background-color: #cacaca;
}
.barra-busqueda {
    text-align: center;
}
.logo {
    width: 15vw;
    margin: 10px;
    padding: 10px;
}
.fa-bars {
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 10px;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.burger-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.text1 {
    font-size: 1.5em;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    color: #1259c3;
}
.nav {
    justify-content:center;
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);  
    background-color: #20142A;
    border-radius: 15px;
    
}
.tituloIncluye {
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    font;
}

.incluye {


    width: 100vw;
    margin: auto;
    padding: 15px;
    color: #ffffff;
    justify-content: center;

    }

h3 {
    text-align: center;
    font-size: 16px;
    padding: 15px;
    
}
.img-scale {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.producto    {
    justify-content:center;
    margin: auto;
    width: 70%;
    font-size: 2em;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);  
    background-color: #20142A;
    border-radius: 15px;
}

.precio {
    
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
.carrito    {
    
    font-size: 1,2em;
    width: 50%;
    justify-content: auto;
    text-align: auto;
    color: #000000;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: rgb(83, 156, 83);
    border-radius: 15px;
}
.carro {
    justify-content:center;
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.i {
    width: 10%;
    justify-content: center;

}
.sec-hr {
    width: 80%;

}
.foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}