/*font-family: 'Anek Telugu', sans-serif;
font-family: 'Carattere', cursive;
font-family: 'Imprima', sans-serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'Mako', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0px;
}
.body-register {
    background-image: url(/img/sunset-background.jpg);
    background-position-y: center;
    background-position-x: center;
    font-family: Mako, Imprima;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #eeeeee;
}

.main-container-detail {
    height: 500px;
    margin-bottom: 100px;
}

.data-box {
    margin: auto;
    width: 90vw;
    max-width: 450px;
    height: 574px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 5%;
    border-radius: 20px;
    border-start-start-radius: 15%;
    border-end-end-radius: 15%;
    border: none;
    background-color: #1c1224de;
    align-items: center;
}

.comprar {
    margin: auto;
    width: 65vw;
    max-width: 150px;
    height: 40px;
    display: flex;
    margin-top: 5%;
    border-radius: 10px;
    background-color: rgb(212 164 77);
    flex-wrap: nowrap;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.boton {
    background-color: #1259c300;
    border: none;
}

.burger-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}




.data-box input {
    width: 70vw;
    max-width: 250px;
}

.img-paq {
    display: flex;
    justify-content: center;
    padding: 35px;
    border-radius: 30p
}




.banner {
    width: 99vw;
    margin: 2px;
    padding: 2px;

}

.text1 {
    font-size: 2em;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    color: #1259c3;
}



.paquete {
    color: #f6d9be;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.incluye {
    display: flex;
    padding: 6px;
    font-size: 20px;
}

.precio {
    padding: 6%;
    padding-bottom: 0%;
    
}

.main-h3 {
    text-align: center;
    font-size: 12px;
}

.data-logo {
    width: 100px;
    opacity: 0.7;
}

.data-item {
    height: 25px;
    margin-top: 20px;
    border-radius: 20px;
    border-end-end-radius: 100px;
    border-start-start-radius: 100px;
    text-align: center;
    border-color: #5B050C;
}


.forms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-h4 {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #FFC396;
}

.register-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fi1,
.fi1:visited {
    color: #171BAB;
}

.fi2,
.fi2:visited {
    color: #d3d1d1;
}

.main-icon {
    font-size: 300%;
    padding: 10px;
}

.main-button {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 100px;
    border: solid 2px #900A0A;
    background-color: #20142A;
    color: #900A0A;
    box-shadow: 1px 1px #5B050C;
}

.forms p {
    display: flex;
    flex-direction: row-reverse;
}

.h3-detail {
    text-align: center;
    font-size: 20px;
    text-align: center;
    width: 140px;
}

.img-scale {
    width: 50vw;
    margin-left: 25vw;
    justify-content: center;
    align-items: center;
}

.producto {
    font-size: 2em;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    color: #1259c3;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.carrito {
    font-size: 1, 5em;
    margin-bottom: 12px;
    text-align: center;
    color: #000000;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    box-sizing: border-box;
    background-color: rgb(83, 156, 83);
}
.articuloproducto  {  

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 700;
}


/*TABLET*/
@media (min-width: 460px) {
}

/*NOTEBOOKS*/
@media (min-width: 750px) {

}


/*DESKTOP*/


