/*font-family: 'Anek Telugu', sans-serif;
font-family: 'Carattere', cursive;
font-family: 'Imprima', sans-serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'Mako', sans-serif;
*/



.body-register {
    background-image: url(/img/productImage/sunset-background.jpg);
    background-position-y: center;
    background-position-x: center;
    font-family: Mako, Imprima;
}

.main-container {
    height: 500px;
    margin-bottom: 100px;
}

.data-box {
    margin: auto;
    width: 90vw;
    max-width: 350px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #20142A;
    border-radius: 20px;
    border-start-start-radius: 120px;
    border-end-end-radius: 120px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
}

.data-box input {
    width: 70vw;
    max-width: 250px;
}

.data-logo-container {
    display: flex;
    justify-content: center;
}

.data-logo {
    width: 100px;
    opacity: 0.7;
}

.data-item {
    height: 25px;
    margin-top: 20px;
    border-radius: 20px;
    border-end-end-radius: 100px;
    border-start-start-radius: 100px;
    text-align: center;
    border-color: #5B050C;
}

.register-forms {
    display: flex;
    justify-content: space-evenly;
}

.forms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-h4 {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #FFC396;
}

.register-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fi1,
.fi1:visited {
    color: #171BAB;
}

.fi2,
.fi2:visited {
    color: #d3d1d1;
}

.main-icon {
    font-size: 300%;
    padding: 10px;
}

.main-button {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 100px;
    border: solid 2px #900A0A;
    background-color: #20142A;
    color: #900A0A;
    box-shadow: 1px 1px #5B050C;
}

.forms p {
    display: flex;
    flex-direction: row-reverse;
}


/*productEdit*/
.main-containerAdmin {
    padding-top: 6%;
    margin-top: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/productImage/581591.jpg);
    background-position-y: 65%;
    background-position-x: center;
}

.data-boxAdmin {
    font-family: mako , imprima;
    padding-bottom: 50px;
    margin: auto;
    width: 90vw;
    max-width: 450px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
    border-start-start-radius: 120px;
    border-end-end-radius: 120px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
}

.data-itemAdmin {
    height: 25px;
    margin-top: 20px;
    border-radius: 20px;
    border-end-end-radius: 100px;
    border-start-start-radius: 100px;
    text-align: center;
    border-color: #5B050C;
}

.data-logoAdmin {
    display: flex;
    justify-content: center;
}

.data-logoAdmin data-logo {
    width: 100px;
    opacity: 0.7;
}

.data-boxAdmin input {
    width: 70vw;
    max-width: 250px;
}

.data-itemAdmin-textarea {
    margin-top: 20px;
    width: 250px;

    height: 100px;
    border-radius: 10px;
    border: solid 1px #5B050C;
}

.register-formsAdmin {
    display: flex;
    justify-content: space-evenly;
}

.formsAdmin {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.submit-b {
    width: 70px;
    margin-top: 20px;
}


/*TABLET*/
@media (min-width: 460px) {
    
    .social-media {
        justify-content: flex-end;
    }

    .social-media i {
        padding: 20px;
    }     
}

/*NOTEBOOKS*/
@media (min-width: 750px) {

    .login-container {
        padding-top: 10px;
        font-size: 20px;
    }
    
    .footer-nav-li {
        width: 100%;
        margin-right: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .footer-nav li {
        padding-left: 30px;
    }

    .social-media {
        font-size: 250%;
    }

    .copyright-info {
        padding-bottom: 20px;
        font-size: 20px;
    }

    .copy-p {
        font-size: 15px;
    }
}

/*DESKTOP*/
@media (min-width: 1280px) {}