* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 12px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black
}


/*main*/

main {
    background-image: url(/img/hong-kong-noche-1001x702.jpg);
    width: 100%;
    margin: auto;
}

.contenedor-main, .contenedor-main-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*contenedor1*/

.formulario-cont {
    font-family: 'Mako', sans-serif;
    background-color: #20142A;
    width: 80%;
    text-align: center;
    padding-top: 3%;
    margin-top: 7%;
    padding-bottom: 3%;
    margin-bottom: 7%;
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.titulo-cont {
    color: white;
    font-family: 'Imprima', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
}

.items-form {
    padding: 3%;
}

.barras-form {
    border-radius: 5px;
    border: none;
    width: 90%;
    height: 40px;
    padding-left: 10px;
}

/*contenedor2*/

.formulario-cont2 {
    font-family: 'Mako', sans-serif;
    background-color: #20142A;
    width: 80%;
    text-align: center;
    padding-top: 3%;
    margin-top: 7%;
    padding-bottom: 3%;
    margin-bottom: 7%;
    border-radius: 10px;
}

.formulario-2 {
    display: flex;
    flex-direction: column;
}

.items-form-2 {
    display: flex;
    justify-content: space-around;
}

.barras-form-2 {
    border-radius: 5px;
    border: none;
    width: 90%;
    height: 40px;
    padding-left: 10px;
    margin: 3%;
}

.venc-num-cont {
    display: flex;
    justify-content: space-around;
}

.venc {
    border-radius: 5px;
    border: none;
    width: 90%;
    height: 40px;
    padding-left: 10px;
    margin: 3%;
}

.num {
    border-radius: 5px;
    border: none;
    width: 90%;
    height: 40px;
    padding-left: 10px;
    margin: 3%;
}

/*contenedor3*/

.contenedor-3 {
    font-family: 'Mako', sans-serif;
    background-color: #20142A;
    width: 80%;
    text-align: center;
    padding-top: 3%;
    margin-top: 7%;
    padding-bottom: 3%;
    margin-bottom: 7%;
    border-radius: 10px;
}

.detalle-cont {
    display: flex;
    flex-direction: column;
}

h3 {
    color: white;
    font-family: 'Imprima', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    padding-left: 10%
}

.detalle-productos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

li {
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contenedor-4 {
    width: 80%;
}

.term-cond-cont {
    padding-top: 3%;
    padding-bottom: 3%;
}

h4 {
    font-size: 15px;
}

.boton-cont {
    padding-top: 3%;
    padding-bottom: 3%;
}

.term-cond {
    color: white;
    font-size: 15px;
}

.boton-compra {
    background-color: #ffc396;
    color: white;
    font-weight: normal;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    transition: background-color, font-weight, 500ms;
}

.boton-compra:hover {
    background-color: #DF5B03;
    font-weight: bold;
}

@media (min-width: 460px) {
    /*Tablets*/

}


@media (min-width: 768px) {
    /*laptop*/

main {
}
}