* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.body-login {
    background-image: url(/img/grecia.jpg);
    background-position-y: center;
    background-position-x: center;
    background-size: 300vh;
    background-repeat: no-repeat;
    font-family: Mako, Imprima;
}

.main-container {
    height: 500px;
    margin-bottom: 100px;
}

.main-button-login{
    animation: movimiento 9s infinite linear ;
}
@keyframes movimiento{
    from {
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}

.data-box {
    margin: auto;
    width: 90vw;
    max-width: 350px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 10%;
    background-color: #20142A;
    border-radius: 20px;
    border-start-start-radius: 120px;
    border-end-end-radius: 120px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
}

.data-box input {
    width: 70vw;
    max-width: 250px;
}

.data-logo-container {
    display: flex;
    justify-content: center;
}

.data-logo {
    width: 100px;
    opacity: 0.7;
}

.data-item {
    height: 25px;
    margin-top: 20px;
    border-radius: 20px;
    border-end-end-radius: 100px;
    border-start-start-radius: 100px;
    text-align: center;
    border-color: #5B050C;
}

.register-forms {
    display: flex;
    justify-content: space-evenly;
}

.forms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-h4 {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #FFC396;
}

.register-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fi1,
.fi1:visited {
    color: #171BAB;
}

.fi2,
.fi2:visited {
    color: orange;
}

.main-icon {
    font-size: 300%;
    padding: 10px;
}

.main-button-login {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 100px;
    border: solid 2px #14b398;
    background-color: #20142A;
    color: #addad0;
    box-shadow: 1px 1px #047461;
    cursor: pointer;
    color: #FFC396;
}


.forms p {
    display: flex;
    flex-direction: row-reverse;
}

/*TABLET*/
@media (min-width: 460px) {
}

/*NOTEBOOKS*/
@media (min-width: 750px) {

}

/*DESKTOP*/
@media (min-width: 1280px) {}
