/*font-family: 'Anek Telugu', sans-serif;
font-family: 'Carattere', cursive;
font-family: 'Imprima', sans-serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'Mako', sans-serif;
*/


.body-register {
    background-image: url(/img/productImage/sunset-background.jpg);
    background-position-y: center;
    background-position-x: center;
    font-family: Mako, Imprima;
}

.main-container {
    height: 800px;
}

.on-register {
    margin: auto;
    width: 90vw;
    max-width: 400px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 7%;
    margin-bottom: 9%;
    background-color: #20142A;
    border-radius: 5px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
    }

.register-forms {
    display: flex;
    justify-content: space-evenly;
    height: 250px;
}

.register {
    height: 600px;
    margin-top: -170px;
}

.main-icon,
.main-icon:visited {
    color: rgb(125, 111, 170);
}

.main-h4 h4 {
    font-size: 15px;
    padding-top: 40px;
    color: #9e92a7;
    font-weight: 200;
}
.form-group .reg {
    position: relative;
    font-size: 15px;
    color: #a297ad;
    font-family: 'Mako';
    width: 70vw;
    max-width: 280px;
    margin: auto;
    }

    .reg-btn {
        margin-top: 30px;
    }

/* ERRORS  */
.firstName-error,
.lastName-error,
.category-error,
.image-error {
    font-size: 11px;
    color: #5B050C;
    height: 5px;
}




/*productEdit*/


.data-boxAdmin {
    font-family: mako , imprima;
    padding-bottom: 15px;
    margin: auto;
    width: 90vw;
    max-width: 450px;
    height: 735px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
    border-start-start-radius: 120px;
    border-end-end-radius: 120px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
}

.data-itemAdmin {
    height: 25px;
    margin-top: 20px;
    border-radius: 20px;
    border-end-end-radius: 100px;
    border-start-start-radius: 100px;
    text-align: center;
    border-color: #5B050C;
}

.data-logoAdmin {
    display: flex;
    justify-content: center;
}

.data-logoAdmin data-logo {
    width: 100px;
    opacity: 0.7;
}

.data-boxAdmin input {
    width: 70vw;
    max-width: 250px;
}

.data-itemAdmin-textarea {
    margin-top: 20px;
    width: 250px;

    height: 100px;
    border-radius: 10px;
    border: solid 1px #5B050C;
}

.register-formsAdmin {
    display: flex;
    justify-content: space-evenly;
}

.formsAdmin {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.botones-form-admin {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.submit-b {
    width: 70px;
    margin-top: 20px;
}

.items-delete-box {
    padding-top: 3px;
    padding-bottom: 3px;
}
.items-delete {
    color: white;
    font-size: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.boton-delete {
    text-align: center;
}

.data-boxAdmin-delete {
    font-family: mako , imprima;
    padding-bottom: 15px;
    margin: auto;
    width: 90vw;
    max-width: 450px;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
    border-start-start-radius: 120px;
    border-end-end-radius: 120px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
}


/*TABLET*/
@media (min-width: 460px) {
    
    .social-media {
        justify-content: flex-end;
    }

    .social-media i {
        padding: 20px;
    }     
}

/*NOTEBOOKS*/
@media (min-width: 750px) {

}

/*DESKTOP*/
@media (min-width: 1280px) {}