.body-carrito {
    background-image: url(/img/productImage/sunset-background.jpg);
    background-position-y: center;
    background-position-x: center;
    font-family: Mako, Imprima;
    background-attachment: fixed;
}

/*main*/

.main-diego {
    font-size: 15px;
    width: 100%;
    margin: auto;
}

.bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.bloque-1 {
    width: 80%;
}

.bloque-2 {
    width: 80%;
}

/*contenedor1*/

.formulario-cont {
    font-family: 'Mako', sans-serif;
    background-color: #20142A;
    width: 100%;
    text-align: center;
    padding-top: 15%;
    margin-top: 7%;
    padding-bottom: 15%;
    margin-bottom: 7%;
    background-color: #20142A;
    border-radius: 20px;
    border-start-start-radius: 120px;
    border-end-end-radius: 120px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
}

.formulario {
    display: flex;
    flex-direction: column;
}

.titulo-cont {
    color: #FFC396;
    font-family: 'Imprima', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
}

.items-form {
    padding: 3%;
}

.barras-form {
    border-radius: 5px;
    border: none;
    width: 75%;
    height: 35px;
    padding-left: 10px;
}

/*contenedor2*/

.formulario-cont2 {
    font-family: 'Mako', sans-serif;
    background-color: #20142A;
    width: 100%;
    text-align: center;
    padding-top: 15%;
    margin-top: 7%;
    padding-bottom: 15%;
    margin-bottom: 7%;
    background-color: #20142A;
    border-radius: 20px;
    border-start-start-radius: 120px;
    border-end-end-radius: 120px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
}

.formulario-2 {
    display: flex;
    flex-direction: column;
}

.items-form-2 {
    padding: 3%;

}

.barras-form-2 {
    border-radius: 5px;
    border: none;
    width: 75%;
    height: 35px;
    padding-left: 10px;
}

.venc-num-cont {
    padding: 3%;
}

.venc {
    border-radius: 5px;
    border: none;
    width: 75%;
    height: 35px;
    padding-left: 10px;
}

.num {
    border-radius: 5px;
    border: none;
    width: 75%;
    height: 35px;
    padding-left: 10px;
}

/*contenedor3*/

.contenedor-3 {
    font-family: 'Mako', sans-serif;
    background-color: #20142A;
    width: 100%;
    text-align: center;
    padding-top: 15%;
    margin-top: 7%;
    padding-bottom: 15%;
    margin-bottom: 7%;
    background-color: #20142A;
    border-radius: 20px;
    border-start-start-radius: 120px;
    border-end-end-radius: 120px;
    border: solid 1px #5B050C;
    background-color: rgba(32, 20, 42, 0.9);
}


.detalle-cont {
    display: flex;
    flex-direction: column;
}

.titulos-cont3 {
    color: white;
    font-family: 'Imprima', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    padding-left: 10%
}

.detalle-productos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.lista-resumen {
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contenedor-4 {
    width: 80%;
    margin-bottom: 5%;
}

.term-cond-cont {
    padding-bottom: 1%;
}


.boton-cont {
    padding-top: 3%;
    padding-bottom: 3%;
}

.term-cond {
    color: white;
    font-size: 16px;
}

.boton-compra {
    background-color: #ffc396;
    color: white;
    font-weight: normal;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    transition: background-color, font-weight, 500ms;
}

.boton-compra:hover {
    background-color: #DF5B03;
    font-weight: bold;
}

/*productId*/

.h3-name-prodId {
    font-size: 25px;
    color: #FFC396;
}

.p-prodId {
    font-size: 15px;
    color: white;
    padding: 5px;
}

.p-prodId-desc {
    font-size: 15px;
    color: white;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.h3-detail-prodId {
    font-size: 22px;
    color: #FFC396;
}

/*productId*/


@media (min-width: 460px) {
    /*Tablets*/

    .bloque-1, .bloque-2 {
        width: auto;
    }
    
    .formulario-cont, .formulario-cont2, .contenedor-3{
        width: 360px;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .term-cond {
        font-size: 19px;
    }

    .contenedor-4 {
        width: 336px;
    }
}


@media (min-width: 750px) {
    /*laptop*/

    .formulario-cont, .formulario-cont2, .contenedor-3 {
        width: 320px;
    }

    .term-cond-cont {
        padding-top: 1%;
    }

    .term-cond {
        font-size: 16px;
    }

    .bloque {
        align-items: flex-start;
        margin-left: 8%;
    }

    .bloque-1 {
        max-width: 50%;
    }

    .bloque-2 {
        top: 148px;
        max-width: 38%;
        position: absolute;
        right: 9%;
    }

    .contenedor-4 {
        width: 320px;
    }
    .boton-cont {
        margin-left: auto;
        text-align: right;
    }

    .boton-compra {
        width: 185px;
    }

}

@media (min-width: 1250px) {

    .bloque {
        align-items: flex-start;
        margin-left: 21%;
    }

    .bloque-1 {
        max-width: 45%;
    }
    .bloque-2 {
        max-width: 30%;
        right: 19%;
        top: 174px;
    }

    .term-cond-cont {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .term-cond {
        font-size: 17px;
    }

    .contenedor-4 {
        width: 350px;
    }

    .formulario-cont, .formulario-cont2, .contenedor-3 {
        width: 350px;
    }

}