<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main class="main-container">
        <section class="data-box">
            <div class="data-logo-container">
                <img class="data-logo" src="/img/logo.png" alt="DHTravel Logo">
            </div>
            <div class="register-forms">
                <form class="forms" action="/register" method="post">
                    <p>
                        <label for="usuario"></label>
                        <input class="data-item" type="text" name="text" id="usuario" required
                            placeholder="Nombre de usuario">
                            <p><a class="letras" href="#">Recuperá tu cuenta</a></p>
                    </p>
                    <p>
                        <label for="password"></label>
                        <input class="data-item" type="password" name="password" id="password" required
                            placeholder="Contraseña">
                            <p><a href="#" target="_blank">Olvidaste tu contraseña</a></p>
                    </p>
                    <!--<p>
                        <label for="no-robot"></label>
                        <input class="data-item" type="checkbox" name="no-robot" id="no-robot">
                    </p>-->
                    <p>
                        <button class="main-button" type="submit"><i class="material-symbols-outlined">
                            airplanemode_active
                            </i></button>
                    </p>
                </form>
            </div>
            <div class="main-h4">
                <p>
                <h4>logueate con</h4>
                </p>
            </div>
            <div class="register-icon">
                <a class="fi1" href="#"><i class="main-icon fa-brands fa-facebook"></i></a>
                <a class="fi2" href="#"><i class=" main-icon fa-brands fa-google"></i></a>
            </div>
        </section>
    </main>
</body>
<%- include("../partials/footer.ejs") %>
</html>