<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/img/logo.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Carattere&family=Imprima&family=Kaisei+Tokumin&family=Mako&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/indexstyle.css" />
    <title>DHTravel</title>
  </head>
  <body>
    <header>
      <section class="top-header">
        <div class="logo-container">
          <a href="#">
            <img class="header-logo" src="/img/logo.png" alt="DHTravel Logo" />
          </a>
        </div>
        <div class="search-bar">
          <input
            class="input-searcher"
            type="text"
            placeholder="Busque su destino"
          />
          <button class="icon-a"><i class="fas fa-search"></i></button>
        </div>
        <div class="login-container">
          <nav class="login">
            <ul class="ul-li" type="none">
              <div>
                <li><a href="#">Ingresa</a></li>
              </div>
              <div class="li-item">
                <li><a href="./register.html">Registrarte</a></li>
              </div>
              <div class="li-item">
                <li>
                  <a href="./carrito.html"
                    ><i class="fa-solid fa-cart-flatbed"></i
                  ></a>
                </li>
              </div>
            </ul>
          </nav>
        </div>
      </section>
    </header>
    <main>
      <!--- Carrusel, todavía no se como hacerle el estilo-->
      <div class="slider-container">
        <ul class="slider">
          <li id="slide1">
            <img src="/img/MachuPicchu.jpg" alt="Machupicchu" class="img"/>
          </li>
          <li id="slide2">
            <img src="/img/NuevaZelanda.jpg" alt="Nueva Zelanda" class="img"/>
          </li>
          <li id="slide3">
            <img src="/img/Disney.jpg" alt="Disney" class="img"/>
          </li>
          <li id="slide4">
            <img src="/img/Quito.jpg" alt="Quito" class="img"/>
          </li>
          <li id="slide5">
            <img src="/img/RiodeJaneiro.jpg" alt="Rio de Janeiro" class="img"/>
          </li>
          <li id="slide6">
            <img src="/img/Roma.jpg" alt="Roma" class="img"/>
          </li>
          <li id="slide7">
            <img src="/img/Sydney.jpg" alt="Sydney" class="img"/>
          </li>
          <li id="slide8">
            <img src="/img/Venecia.jpg" alt="Venecia" class="img"/>
          </li>
          <li id="slide9">
            <img src="/img/Cancún.jpg" alt="Cancún" class="img"/>
          </li>
        </ul>
        <ul class="menu">
          <li>
            <a href="#slide1">1</a>
          </li>
          <li>
            <a href="#slide2">2</a>
          </li>
          <li>
            <a href="#slide3">3</a>
          </li>
          <li>
            <a href="#slide4">4</a>
          </li>
          <li>
            <a href="#slide5">5</a>
          </li>
          <li>
            <a href="#slide6">6</a>
          </li>
          <li>
            <a href="#slide7">7</a>
          </li>
          <li>
            <a href="#slide8">8</a>
          </li>
          <li>
            <a href="#slide9">9</a>
          </li>
        </ul>
      </div>
      <div>
        <h1>Encontrá tu lugar!</h1>
      </div>
      <div>
        <a href="web.whatsapp.com">Chatea con nosotros</a>
      </div>
      <!--- Imagenes que dirigen al los productos-->
      <div class="product-container">
        <div class="product">
          <a href="/producto">
            <img
              src="/img/RiodeJaneiro.jpg"
              alt="Rio de Janeiro"
              class="Imagen-link-prod"
            />
          </a>
          <p class="p-main">RIO DE JANEIRO</p>
        </div>
        <div class="product">
          <a href="./productDetail.html">
            <img
              src="/img/MachuPicchu.jpg"
              alt="Machu Picchu"
              class="Imagen-link-prod"
            />
          </a>
          <p class="p-main">MACHU PICCHU</p>
        </div>
        <div class="product">
          <a href="./productDetail.html">
            <img
              src="/img/NuevaZelanda.jpg"
              alt="Nueva Zelanda"
              class="Imagen-link-prod"
            />
          </a>
          <p class="p-main">NUEVA ZELANDA</p>
        </div>
        <div class="product">
          <a href="./productDetail.html">
            <img src="/img/Disney.jpg" alt="Disney" class="Imagen-link-prod" />
          </a>
          <p class="p-main">DISNEY WORLD</p>
        </div>
        <div class="product">
          <a href="./productDetail.html">
            <img src="/img/Quito.jpg" alt="Quito" class="Imagen-link-prod" />
          </a>
          <p class="p-main">QUITO</p>
        </div>
        <div class="product">
          <a href="./productDetail.html">
            <img src="/img/Roma.jpg" alt="Roma" class="Imagen-link-prod" />
          </a>
          <p class="p-main">ROMA</p>
        </div>
        <div class="product">
          <a href="./productDetail.html">
            <img src="/img/Sydney.jpg" alt="Sydney" class="Imagen-link-prod" />
          </a>
          <p class="p-main">SYDNEY</p>
        </div>
        <div class="product">
          <a href="./productDetail.html">
            <img
              src="/img/Venecia.jpg"
              alt="Venecia"
              class="Imagen-link-prod"
            />
          </a>
          <p class="p-main">VENECIA</p>
        </div>
        <div class="product">
          <a href="./productDetail.html">
            <img src="/img/Cancún.jpg" alt="Cancún" class="Imagen-link-prod" />
          </a>
          <p class="p-main">CANCÚN</p>
        </div>
      </div>
    </main>
    <footer>
      <div>
        <section class="info-li">
          <nav class="footer-nav">
            <ul class="footer-nav-li" type="none">
              <li>
                <a class="nav-li-item" href="#">Terminos y condiciones</a>
              </li>
              <li><a class="nav-li-item" href="#">Preguntas Frecuentes</a></li>
              <li><a class="nav-li-item" href="#">Contacto</a></li>
              <li><a class="nav-li-item" href="#">Conocenos</a></li>
              <li><a class="nav-li-item" href="#">RRHH</a></li>
              <li><a class="nav-li-item" href="#">Formas De Pago</a></li>
            </ul>
          </nav>
        </section>
        <section class="social-media">
          <div>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
          <div>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          </div>
        </section>
        <section class="copyright-info">
          <div class="credit-card">
            <div>
              <i class="fa-brands fa-cc-visa"></i>
            </div>
            <div>
              <i class="fa-brands fa-cc-mastercard"></i>
            </div>
            <div>
              <i class="fa-brands fa-cc-amex"></i>
            </div>
          </div>
          <div class="copy-p">
            <p>Copyright © 2021-2023 DHTravel S.A.</p>
            <p>Av. Cordoba 1986, Piso 2, CP 1244, Almagro, CABA</p>
          </div>
        </section>
      </div>
    </footer>
  </body>
</html>
