<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main class="main-container">
        <section class="data-box">
            <div class="img-paq">
                <img src="/img/rio-carnival-2023 copia.png" alt="paquete brasil">
            </div>
            <section class="paquete">
                <div class="incluye">
                    <h3>Incluye</h3>
                </div>
                <div class="main-h3">
                    <p>
                        * Traslados Aeropuerto <br>
                        * Seguro al viajero <br>
                        * 4 Noches hotel 4 estrellas <br>
                        * Desayuno <br>
                        * 3 Noches de ingreso al corsodromo <br>
                    </p>
                </div>
                <div class="precio">
                    <h3>Precio Total US$ 900</h3>
                </div>
            </section>
            <section class="comprar">
                <div class="main-h4">
                    <p>
                        <a href="#">
                            <h4>Comprar paquete</h4>
                        </a>
                    </p>
                </div>
            </section>

        </section>
    </main>
</body>
<%- include("./partials/footer.ejs") %>
    </div>
</footer>